# Node modules
node_modules/

# Test coverage
coverage/

# JS compiled files
out/
tsvToJson.js

# Secrets! Shhh!
.env
config.json

# Don't commit the calendar data
data/*
!data/example.json

# Deployment
docker-compose.yml
